@import url("https://fonts.googleapis.com/css2?family=Literata:ital,opsz,wght@0,7..72,200..900;1,7..72,200..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Literata:ital,opsz,wght@0,7..72,200..900;1,7..72,200..900&display=swap");
@import "tailwindcss";

/* new css start */
:root {
  --font-inter: "Inter", sans-serif;
  --font-literata: "Literata", sans-serif;
  --h1: 60px;
  --h2: 48px;
  --h3: 36px;
  --h4: 30px;
  --h5: 24px;
  --h6: 20px;
  --body: 16px;
  --small: 13px;
  --btnprimary: #703cd2;
}

.font-inter {
  font-family: var(--font-inter);
  font-weight: normal;
  font-style: normal;
}

.font-inter-medium {
  font-family: var(--font-inter);
  font-weight: 500;
  font-style: normal;
}

.font-inter-bold {
  font-family: var(--font-inter);
  font-weight: bold;
  font-style: normal;
}

.font-inter-semi-bold {
  font-family: var(--font-inter);
  font-weight: 600;
  font-style: normal;
}

.font-literata {
  font-family: var(--font-literata);
  font-weight: normal;
  font-style: normal;
}

.font-literata-medium {
  font-family: var(--font-literata);
  font-weight: 500;
  font-style: normal;
}

.font-literata-bold {
  font-family: var(--font-literata);
  font-weight: bold;
  font-style: normal;
}

.font-literata-semi-bold {
  font-family: var(--font-literata);
  font-weight: 600;
  font-style: normal;
}

.h1,
h1 {
  font-family: var(--font-literata);
  font-size: var(--h1);
  font-weight: bold;
  line-height: 120%;
}
.h2,
h2 {
  font-size: var(--h2);
  line-height: 120%;
}
.h3,
h3 {
  font-size: var(--h3);
  line-height: 120%;
}
.h4,
h4 {
  font-size: var(--h4);
  line-height: 120%;
}
.h5,
h5 {
  font-size: var(--h5);
  line-height: 120%;
}
.h6,
h6 {
  font-size: var(--h6);
  line-height: 120%;
}
.body,
body,
p {
  font-family: var(--font-inter);
  font-size: var(--body);
  line-height: 160%;
}

/* button */
.btn{
  padding: 11px 40px;
  border-radius: 60px;
  cursor: pointer;
  font-family: var(--font-inter);
  font-weight: bold;
  font-size: var(--body);
  line-height: 160%;
  display: inline-block;
}
.btn-primary {
  position: relative;
  background-color: var(--btnprimary);
  color: #ffffff;
  border: 1px solid transparent;
  overflow: hidden;
  transition: border-color ease-out 0.5s, background-color 0.2s linear 0s;
}
.btn-primary span {
  transition: color 0.2s linear 0.5s;
}
.btn-primary::after {
  background-color: #d4c7ff;
  border-radius: 50%;
  content: "";
  height: 200px;
  right: 0;
  position: absolute;
  top: 0;
  left: 0;
  transform: scale(1) translateY(67px);
  transition: transform 1s cubic-bezier(0.66, 0, 0.34, 1);
  width: 100%;
  z-index: 0;
}
.btn-primary:hover {
  color: var(--btnprimary);
  transition-delay: 0.5s;
}
.btn-primary:hover::after {
  transform: scale(1.6) translateY(0);
}
.btn-secondary {
  position: relative;
  overflow: hidden;
  transition: border-color ease-out 0.5s, background-color 0.2s linear 0s;
  background-color: transparent;
  color: #703cd2;
  border: 1px solid #703cd2;
}
.btn-secondary span {
  transition: color 0.2s linear 0.5s;
}
.btn-secondary::after {
  background-color: #703cd2;
  border-radius: 50%;
  content: "";
  height: 200px;
  right: 0;
  position: absolute;
  top: 0;
  left: 0;
  transform: scale(1) translateY(67px);
  transition: transform 1s cubic-bezier(0.66, 0, 0.34, 1);
  width: 100%;
  z-index: 0;
}
.btn-secondary:hover {
  color: white;
  transition-delay: 0.5s;
}
.btn-secondary:hover::after {
  transform: scale(1.6) translateY(0);
}
/* new css end */
